{
  "projectSearchRoots": [
    "%USERPROFILE%\\Documents\\Github",
    "%USERPROFILE%\\Documents\\GitHub",
    "%USERPROFILE%\\Documents\\Git",
    "%USERPROFILE%\\Documents\\Unreal Projects"
  ],
  "defaultEngineRoot": "",
  "defaultPlatform": "Win64",
  "defaultConfiguration": "Development",
  "activeProject": null
}
