{
  "projectSearchRoots": [
    "%USERPROFILE%\\Documents\\Git",
    "%USERPROFILE%\\Documents\\Unreal Projects"
  ],
  "defaultEngineRoot": "C:\\Program Files\\Epic Games\\UE_5.8",
  "defaultPlatform": "Win64",
  "defaultConfiguration": "Development",
  "activeProject": null
}
